.cm-inline-code {
  color: var(--text-normal) !important;
  background-color: var(--text-bg-code) !important;
  line-height: 2;
  padding: 5px 2px;
  font-family: 'JetBrains Mono NL' !important;
}

.cm-header-1.cm-inline-code {
  font-size: 2em !important;
}
.cm-header-2.cm-inline-code {
  font-size: 1.6em !important;
}
.cm-header-3.cm-inline-code {
  font-size: 1.37em !important;
}
.cm-header-4.cm-inline-code {
  font-size: 1.25em !important;
}
.cm-header-5.cm-inline-code,
.cm-header-6.cm-inline-code {
  font-size: 1.12em !important;
}

.cm-hmd-codeblock {
  font-family: 'JetBrains Mono NL' !important;
  color: var(--text-normal);
  font-weight: bold;
}

.markdown-preview-view code {
  color: var(--text-normal);
  background-color: var(--background-primary-alt);
  padding: 4px 8px;
  border: solid 1px rgb(80, 80, 80);
  padding: 5px;
  border-radius: 5px;
}

.markdown-preview-view .internal-link,
.markdown-preview-view .external-link {
  text-decoration: underline;
}

.markdown-embed-title {
  text-transform: uppercase;
  font-weight: lighter;
}

li {
  padding: 3px 0;
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  margin: 18px 0 4px 0;
}

ul,
ol {
  margin-top: 0;
}

body {
  font-family: var(--nunito)
}

:root {
  font-family: var(--nunito)
}

a.tag {
  background-color: transparent;
  border: 1px solid var(--text-accent);
  font-size: 0.6em;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  top: -5px;
}

a.tag:hover {
  color: var(--text-accent-hover);
  border-color: var(--background-modifier-border-hover);
}

h1,
.cm-header-1 {
  color: var(--text-accent);
}

.task-list-item-checkbox {
  filter: hue-rotate(352deg);
}

.cm-s-obsidian .HyperMD-table-row.HyperMD-table-row-0 {
  font-weight: normal;
}

.theme-dark {
  --text-accent: #70baff;
  --text-accent-hover: #2395ff;
  --interactive-accent: #008cff;
  --interactive-accent-hover: #0176d6;
  --h1-color: #8fd9f1;
  --text-bg-code: black;
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --nunito: 'Nunito', sans-serif;
}

.theme-light {
  --default-font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}